body {
	margin: 0;
//	display: flex;
//	justify-content: center;
}
nav {
	display: flex;
	padding: 10px 60px;
	justify-content: space-between;
	align-items: center;
	
	.nav-left {
		input[type='search'] {
			padding: 10px 25px;
			font-size: 16px;
			border: none;
			outline: none;
			transition: border 0.5s ease;
			
			&:focus {
				border-bottom: 1px solid $brand-color;
			}
		}
		
		label {
			position: absolute;
			top: 21px;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		
		li {
			display: inline;
			padding-left: 60px;
			font-size: 18px;
		}
	}
}
.image-slider-container {
//	.wrapper {
//		display: flex;

		img {
			border-style: none;
			overflow-x: auto;
			height: 500px;
			width: 600px;
			outline: none;
		}
	}
.wrapper-item {
	p	{
		font-size: 60px;
		color: $brand-color;
		font-family: cursive;
	}
}
.slick-prev{
	left: 25px !important;
	z-index: 1000;
}
.slick-next{
	right: 25px !important;
	z-index: 1000;
}
.slick-slider {
	background: url('/slick/ajax-loader.gif') center center no-repeat;
}
.slick-slider .slick-list { 
	opacity: 0; 
	position: absolute; 
}
//.slick-slider.slick-initialized {
//	background: none;
//}
.slick-slider.slick-initialized .slick-list { 
	opacity: 1;
	position: relative;
	transition: opacity 0.2s ease-in;
}
.main-wrapper{
	display: flex;
	
	.container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}
}
.action-column {
	flex: 1;
	
	.inner-header {
		display: flex;

		.inner-header-item {
			flex: 1;
			text-align: center;
			span {
				&:last-child {
					display: block;
				}
			}
		}
	}
	.action-row__item.btn {
		display: flex;
		
		button {
			padding: 10px;
			width: 100%;
		}
	}
	.action-row__item.feedback{
		display: flex;
		
		div {
			flex: 1;
			text-align: center;
			
			span {
				&:last-child {
				display: block;
				}
			
			}
		}
	}
	.action-row__item.social {
		p {
			text-align: center;
		}
		.social-btns {
			display: flex;
			justify-content: space-around;
		}
		
	}
}
.info-column {
	flex: 2;
	visibility: hidden;
}










//.inner-header {
//	display: flex;
//	background-color: whitesmoke;
//	
//	.inner-header__left {
//		flex: 1 1 100%;
//		display: flex;
//		
//		.inner-header-item {
//			span {
//				&:last-child {
//					display: block;
//				}
//			}
//		}
//	}
//	.inner-header__right {
//		flex: 1 1 100%;
//		
//		ul li {
//			list-style: none;
//			display: inline;
//		}
//	}
//}