body {
	margin: 0;
//	display: flex;
//	justify-content: center;
}
nav {
	display: flex;
	padding: 10px 60px;
	justify-content: space-between;
	align-items: center;
	
	.nav-left {
		input[type='search'] {
			padding: 10px 25px;
			font-size: 16px;
			border: none;
			outline: none;
			transition: border 0.5s ease;
			
			&:focus {
				border-bottom: 1px solid $brand-color;
			}
		}
		
		label {
			position: absolute;
			top: 21px;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		
		li {
			display: inline;
			padding-left: 60px;
			font-size: 18px;
		}
	}
}
.image-slider-container {
//	.wrapper {
//		display: flex;

		img {
			border-style: none;
			overflow-x: auto;
			height: 500px;
			width: 600px;
			outline: none;
		}
	}
.wrapper-item {
	p	{
		font-size: 60px;
		color: $brand-color;
		font-family: cursive;
	}
}
.slick-prev{
	left: 25px !important;
	z-index: 1000;
}
.slick-next{
	right: 25px !important;
	z-index: 1000;
}
.slick-slider {
	background: url('/slick/ajax-loader.gif') center center no-repeat;
}
.slick-slider .slick-list { 
	opacity: 0; 
	position: absolute; 
}
//.slick-slider.slick-initialized {
//	background: none;
//}
.slick-slider.slick-initialized .slick-list { 
	opacity: 1;
	position: relative;
	transition: opacity 0.2s ease-in;
}
.main-wrapper{
	background-color:#fafafa;
	display: flex;
	
	.container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}
}
.action-column {
	flex: 1;
	
	.inner-header {
		display: flex;
		background-color: whitesmoke;
		padding: 10px 0 10px 88px;
		margin-left: -78px;

		.inner-header-item {
			flex: 1;
			text-align: center;
			span {
				&:last-child {
					display: block;
				}
			}
		}
	}
	
	.action-body {
		padding: 5px 15px 20px 15px;
		background-color: aliceblue;
	}
	.action-row__item.btn {
		display: flex;
		
		button {
			padding: 12px;
			width: 100%;
			border:1px solid rgba(128, 128, 128, 0.05);
			color: #fcfcfc;
			font-size: 14px;
		}
	}
	.action-row__item.feedback{
		display: flex;
		margin-top: 30px;
		
		div {
			flex: 1;
			text-align: center;
			
			span {
				&:last-child {
				display: block;
				}
			
			}
		}
	}
	.action-row__item.social {
		p {
			text-align: center;
		}
		.social-btns {
			display: flex;
			justify-content: space-around;
		}
		
	}
}
.info-column {
	flex: 2;
	
	.info-tabs {
		background-color: aqua;
		margin-right: -74px;
		padding-left: 20%;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
		}
		li {
			list-style: none;
			padding: 18px 0;
			flex: 0 1 12%;
			border-bottom: 2px solid;
			margin-right: 5px;
			text-align: center;
//			display: inline;
		}
	}
	.details {
		background-color: aliceblue;
		margin-left: 20%;
		padding: 10px 25px;
		margin-top: 45px;
		
		.details-item {
			border-bottom: 1px solid grey;
			padding-bottom: 30px;
			
			&:last-child {
				border-bottom: none;
				padding-bottom: 0px;
			}
			div {
				&:last-child {
					margin-left: 30px;
				}
			}
		}
		
		h3 {
			font-size: 16px;
		}
		p {
			font-size: 15px;
			margin-top: 0;
		}

		.entry-fee__details {
			display: flex;
			
			div {
				&:first-child {
					flex: 0 1 25%;
				}
				&:last-child {
					flex: 0 1 25%;
				}
			}
		}
		
		.editors-rewiew .editors-review__details {
			P {
				line-height: 18px;
			}
		}
		
		.about {
			.about__description {
				margin-top: 30px;
				p span {
					display: block;
					margin: 10px 0 0 10px;
					line-height: 18px;
				}
			}
			.about__workhour {
				margin-top: 30px;
				margin-left: 0 !important;
				display: flex;
				
				div {
					margin-left: 12%;
					
					span {
						&:last-child {
							display: block;
							margin-top: 5px;
						}
					}
				}
			}
			.about__age {
				p span {
					margin-left: 12%;
				}
			}
		}
		.contact .contact__number {
			p span {
				margin-left: 40px;
			}
		}
	}
}










//.inner-header {
//	display: flex;
//	background-color: whitesmoke;
//	
//	.inner-header__left {
//		flex: 1 1 100%;
//		display: flex;
//		
//		.inner-header-item {
//			span {
//				&:last-child {
//					display: block;
//				}
//			}
//		}
//	}
//	.inner-header__right {
//		flex: 1 1 100%;
//		
//		ul li {
//			list-style: none;
//			display: inline;
//		}
//	}
//}